{% block body %}
    <div style="text-align: center;">
    <h1>add Book</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    </div>
{% endblock %}