    {% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
<div style="text-align: center;">
    <h1>Book</h1>
    <p>Title of Book:{{book.title}} </br>
    Publication date:{{book.publicationDate|date()}} </br>
    Author:{{book.author.username}}
    </p>
</div>
{% endblock %}